<div ng-controller="createLearningInfoController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="learning-name" translate>Learning Name</label>
        <input name="learning-name" type="text" class="form-control" id="learning-name"
               ng-model="model.newLearningSpec.display_name"
               placeholder="{$ 'Name of the learning to create.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="learning-description" translate>Learning Description</label>
        <input name="learning-description" type="text" class="form-control" id="learning-description"
               ng-model="model.newLearningSpec.display_description"
               placeholder="{$ 'Description of the learning to create.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="learning-model-id">
          <translate>Model</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newLearningSpec.model_id"
                ng-required="true"
                ng-options="model.id as model.name + ':' + model.id for model in ctrl.models">
        </select>
      </div>
    </div>
  </div>
</div>
