<div ng-controller="createModelEvaluationSpecController as ctrl">
  <div class="row">

    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-source-dataset-url">
          <translate>Source Dataset URL</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model_evaluation-source-dataset-url" type="text" class="form-control" id="model_evaluation-source-dataset-url"
               ng-model="model.newModelEvaluationSpec.source_dataset_url"
               ng-required="true"
               placeholder="{$ 'URL of Dataset stored Swift of Internal HDFS.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-dataset-format">
          <translate>Dataset Format</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model_evaluation-dataset-format" type="text" class="form-control" id="model_evaluation-dataset-format"
               ng-model="model.newModelEvaluationSpec.dataset_format"
               ng-required="true"
               placeholder="{$ 'Dataset Format (csv or libsvm or text).'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-swift-tenant">
          <translate>Swift Tenant</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model_evaluation-swift-tenant" type="text" class="form-control" id="model_evaluation-swift-tenant"
               ng-model="model.newModelEvaluationSpec.swift_tenant"
               placeholder="{$ 'Tenant name of Swift.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-swift-username">
          <translate>Swift User Name</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model_evaluation-swift-username" type="text" class="form-control" id="model_evaluation-swift-username"
               ng-model="model.newModelEvaluationSpec.swift_username"
               placeholder="{$ 'User name of Swift.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-swift-password">
          <translate>Swift User Password</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model_evaluation-swift-password" type="text" class="form-control" id="model_evaluation-swift-password"
               ng-model="model.newModelEvaluationSpec.swift_password"
               placeholder="{$ 'Password of Swift User.'|translate $}">
      </div>
    </div>
  </div>
</div>
