<div ng-controller="createModelEvaluationInfoController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-name" translate>ModelEvaluation Name</label>
        <input name="model_evaluation-name" type="text" class="form-control" id="model_evaluation-name"
               ng-model="model.newModelEvaluationSpec.display_name"
               placeholder="{$ 'Name of the model_evaluation to create.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model_evaluation-model-id">
          <translate>Model</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newModelEvaluationSpec.model_id"
                ng-required="true"
                ng-options="model.id as model.name + ':' + model.id for model in ctrl.models">
        </select>
      </div>
    </div>
  </div>
</div>
