<div ng-controller="createLearningSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="learning-method">
          <translate>Method</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="learning-method" type="text" class="form-control" id="learning-method"
               ng-model="model.newLearningSpec.method"
               ng-required="true"
               placeholder="{$ 'Currently, a predict method is only supported.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="learning-args">
          <translate>Input Data</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="learning-args" type="text" class="form-control" id="learning-args"
               ng-model="model.newLearningSpec.args"
               ng-required="true"
               placeholder="{$ 'Input Data for Prediction.'|translate $}">
      </div>
    </div>
  </div>
</div>
