<div ng-controller="createModelSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-model-type">
          <translate>Model Type</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newModelSpec.model_type"
                ng-options="item for item in ctrl.modelTypeOptions">
        </select>
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type != 'DecisionTreeRegression' && model.newModelSpec.model_type != 'NaiveBayes'">
      <div class="form-group">
        <label class="control-label" for="model-model-numIterations">
          <translate>NumIterations</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-numIterations" type="text" class="form-control" id="model-model-numIterations"
               ng-model="model.newParamsSpec.numIterations"
                placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'NaiveBayes'">
      <div class="form-group">
        <label class="control-label" for="model-model-lambda">
          <translate>Lambda</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-lambda" type="text" class="form-control" id="model-model-lambda"
               ng-model="model.newParamsSpec.lambda"
                placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'KMeans'">
      <div class="form-group">
        <label class="control-label" for="model-model-numClasses">
          <translate>NumClasses</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-numClasses" type="text" class="form-control" id="model-model-numClasses"
               ng-model="model.newParamsSpec.numClasses"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'KMeans'">
      <div class="form-group">
        <label class="control-label" for="model-model-runs">
          <translate>Runs</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-runs" type="text" class="form-control" id="model-model-runs"
               ng-model="model.newParamsSpec.runs"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'KMeans'">
      <div class="form-group">
        <label class="control-label" for="model-model-mode">
          <translate>Mode</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-mode" type="text" class="form-control" id="model-model-mode"
               ng-model="model.newParamsSpec.mode"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'Recommendation'">
      <div class="form-group">
        <label class="control-label" for="model-model-rank">
          <translate>Rank</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-rank" type="text" class="form-control" id="model-model-rank"
               ng-model="model.newParamsSpec.rank"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'LinearRegression'">
      <div class="form-group">
        <label class="control-label" for="model-model-step">
          <translate>Step</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-step" type="text" class="form-control" id="model-model-step"
               ng-model="model.newParamsSpec.step"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'DecisionTreeRegression'">
      <div class="form-group">
        <label class="control-label" for="model-model-impurity">
          <translate>Impurity</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-impurity" type="text" class="form-control" id="model-model-impurity"
               ng-model="model.newParamsSpec.impurity"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'DecisionTreeRegression'">
      <div class="form-group">
        <label class="control-label" for="model-model-maxDepth">
          <translate>MaxDepth</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-maxDepth" type="text" class="form-control" id="model-model-maxDepth"
               ng-model="model.newParamsSpec.maxDepth"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'DecisionTreeRegression'">
      <div class="form-group">
        <label class="control-label" for="model-model-maxBins">
          <translate>MaxBins</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-maxBins" type="text" class="form-control" id="model-model-maxBins"
               ng-model="model.newParamsSpec.maxBins"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'Word2Vec'">
      <div class="form-group">
        <label class="control-label" for="model-model-learningRate">
          <translate>LearningRate</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-learningRate" type="text" class="form-control" id="model-model-learningRate"
               ng-model="model.newParamsSpec.learningRate"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'Word2Vec'">
      <div class="form-group">
        <label class="control-label" for="model-model-minCount">
          <translate>MinCount</translate>
           <span class="hz-icon-required fa fa-asterisk"></span>
         </label>
        <input name="model-model-minCount" type="text" class="form-control" id="model-model-minCount"
               ng-model="model.newParamsSpec.minCount"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'FPGrowth'">
      <div class="form-group">
        <label class="control-label" for="model-model-minSupport">
          <translate>MinSupport</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-minSupport" type="text" class="form-control" id="model-model-minSupport"
               ng-model="model.newParamsSpec.minSupport"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12"
         ng-if="model.newModelSpec.model_type == 'FPGrowth'">
      <div class="form-group">
        <label class="control-label" for="model-model-limits">
          <translate>Limits</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-limits" type="text" class="form-control" id="model-model-limits"
               ng-model="model.newParamsSpec.limits"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
  </div>
</div>
