<div ng-controller="createModelSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-model-type">
          <translate>Model Type</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newModelSpec.model_type"
                ng-options="item for item in ctrl.modelTypeOptions">
        </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-model-params">
          <translate>Model Params</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-params" type="text" class="form-control" id="model-model-params"
               ng-model="model.newModelSpec.model_params"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
  </div>
</div>
