<div ng-controller="createModelSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-model-type">
          <translate>Model Type</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newModelSpec.model_type"
                ng-options="item for item in ctrl.modelTypeOptions">
        </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-model-params">
          <translate>Model Params</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-model-params" type="text" class="form-control" id="model-model-params"
               ng-model="model.newModelSpec.model_params"
               placeholder="{$ 'Parameters when creating model.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-source-dataset-url">
          <translate>Source Dataset URL</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-source-dataset-url" type="text" class="form-control" id="model-source-dataset-url"
               ng-model="model.newModelSpec.source_dataset_url"
               ng-required="true"
               placeholder="{$ 'URL of Model stored Swift of Internal HDFS.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-dataset-format">
          <translate>Dataset Format</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <div class="form-field">
          <div class="btn-group">
            <label class="btn btn-default"
                   ng-repeat="option in ctrl.modelFormatOptions"
                   ng-model="model.newModelSpec.dataset_format"
                   uib-btn-radio="option.value">{$ ::option.label $}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-swift-tenant">
          <translate>Swift Tenant</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-swift-tenant" type="text" class="form-control" id="model-swift-tenant"
               ng-model="model.newModelSpec.swift_tenant"
               placeholder="{$ 'Tenant name of Swift.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-swift-username">
          <translate>Swift User Name</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-swift-username" type="text" class="form-control" id="model-swift-username"
               ng-model="model.newModelSpec.swift_username"
               placeholder="{$ 'User name of Swift.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-swift-password">
          <translate>Swift User Password</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="model-swift-password" type="text" class="form-control" id="model-swift-password"
               ng-model="model.newModelSpec.swift_password"
               placeholder="{$ 'Password of Swift User.'|translate $}">
      </div>
    </div>
  </div>
</div>
