<div ng-controller="horizon.dashboard.machine_learning.model_evaluations.DrawerController as drawerCtrl">
  <div class="row">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>ID</dt>
        <dd>{$ item.id $}</dd>
      </dl>
    </span>
  </div>
  <div class="row">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>Result</dt>
        <table class="table">
          <tr ng-repeat="(key,value) in item.result">
            <td>{$ key $}</td>
            <td>{$ value $}</td>
          </tr>
        </table>
      </dl>
    </span>
  </div>
  <div class="row"
       ng-if="item.matrix">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>Confusion Matrix</dt>
        <table border=2>
          <tr ng-repeat="(key,values) in item.matrix track by $index">
          <td height="50">{$ key $}</td>
          <td ng-repeat="value in values track by $index">
            {$ value $}
          </td>
          </tr>
          <tr>
          <td></td>
          <td ng-repeat="(key,values) in item.matrix track by $index">
            {$ key $}
          </td>
          </tr>
        </table>
      </dl>
    </span>
  </div>
</div>
