<div ng-controller="horizon.dashboard.machine_learning.templates.DrawerController as drawerCtrl">
  <div class="row">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>ID</dt>
        <dd>{$ item.id $}</dd>
      </dl>
      <dl class="col-md-2">
        <dt translate>Master Flavor</dt>
        <dd>{$ item.master_flavor $}</dd>
      </dl>
      <dl class="col-md-2">
        <dt translate>Worker Flavor</dt>
        <dd>{$ item.worker_flavor $}</dd>
      </dl>
    </span>
  </div>
</div>
